<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <style>
            body {
            position: relative;
         width: 1024px;
         height: 1024px;
         background: linear-gradient(250deg, #58F73E 2.08%, #083AEE 94.78%);
            }
        
        table,td,th{
            border-collapse: collapse;
            width: 100%;
            border: 1px solid white;
        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: 5px;
        }
        li a{
        color: white;
        }
       

    </style>
</head>
<body>




    <h1> Usuários</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li><a href="/">Listar</a></li>
    </ul>