<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <style>
       
            title{
                text-align: center;
            }
        table{
            width: 100%;
        }
      
        tr:nth-child(odd) {background-color:  #0c0e0c69 }

        tr:nth-child(2n) {background-color:  #0c0e0c9f }

        
            
        table,td,th{
            border-collapse: collapse;
            text-align: center;
            border-bottom: 1px solid rgb(8, 7, 7);

        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: 5px;
        }
        li a{
            text-decoration: underline;
           color: rgb(53, 49, 51);
        }
        p{
             color: blue ;
         }

         .foto{
             width: 15%;
         }

    </style>
</head>
<body>




    <h1> Usuários</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li><a href="/">Listar</a></li>
    </ul>